body {
  font-size: 10px;
}
header {
  color: #fff;
  background-color: #000;
  font-family: 'Cutive Mono', monospace;
  font-size: 3em;
  padding: 0.5em;
  text-align: center;
}
header:hover {
  color: #000;
  background-color: #fff;
}
.mainContainer {
  margin:auto;
  margin-top: 2em;;
  margin-bottom: 2em;
  width: 60%;
  padding:1em;
  border:1em;
  background-color: #bbb;
  font-family: "Courier New", Courier, monospace;

}
.mainContainer:hover {
  background-color: #ddd;
}
#time {
  font-size: 16px;
  text-align: center;
  width:25%;
}
.p5gameContainer {
      position: relative;
      overflow: hidden;
      padding-top: 100%;
      padding-right: 0%;
}
#p5Game {
  position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   border: 0;
}
#toDo {
  color:#000;
  font-size: 1.4em;
  font-family: "Cutive Mono", monospace;
}
