body {
  font-size: 10px;
}
header {
  color: #fff;
  background-color: #000;
  font-family: 'Cutive Mono', monospace;
  font-size: 3em;
  padding: 0.5em;
  text-align: center;
}
header:hover {
  color: #000;
  background-color: #fff;
}
canvas {
  display: block;
  margin: auto;
}
.mainContainer {
  margin:auto;
  margin-top: 2em;;
  margin-bottom: 2em;
  width: 60%;
  padding:1em;
  border:1em;
  background-color: #bbb;
  font-family: "Cutive Mono", Courier, monospace;
}
.mainContainer:hover {
  background-color: #ddd;
}
#time {
  font-size: 16px;
  text-align: center;
  width:25%;
}
#cornerTouch, #youHere {
  font-family: 'Cutive Mono', monospace;
  font-size: 16px;
  text-align: center;
}
