body {
  font-size: 10px;
  margin: 0;
}
header {
  color: #fff;
  background-color: #000;
  font-family: 'Cutive Mono', monospace;
  font-size: 3.3em;
  padding: 0.2em 0em;
  text-align: center;
  width: 100%;
  margin: auto;
}
header:hover {
  color: #aaa;
}
canvas {
  display: block;
  margin: auto;
}
#time {
  font-size: 16px;
  text-align: center;
  width:100%;
  color:#fff;
  font-family: "Cutive Mono", Courier, monospace;
  margin:auto;
  padding:0.5em 0;
  border:1em;
  background-color: #000;
}
#time:hover {
    color: #aaa;
}
#cornerTouch, #youHere {
      font-family: "Courier New", Courier, monospace;
      font-size: 1.5em;
      text-align: center;
}
nav {
  margin: auto;
  text-align: center;
  width: auto;
}
.menu {
    text-decoration: none;
    font-family: monospace;
    font-size: 2em;
    color: #000;
    letter-spacing: 2px;
    margin: 0 5%;
}
.menu:hover {
  color: #aaa;
}
