body {
  font-size: 10px;
  margin: 0;
}
#title {
  color: #fff;
  background-color: #000;
  font-family: 'Cutive Mono', monospace;
  font-size: 3em;
  padding: 0.2em 0em;
  text-align: center;
  width: 100%;
  margin: auto;
}
#title:hover {
  color: #aaa;
}
canvas {
  display: block;
  margin: auto;
}
#title:hover {
  color: #aaa;
}
#timeContainer {
  font-size: 16px;
  text-align: center;
  width:100%;
  color:#fff;
  font-family: "Cutive Mono", Courier, monospace;
  margin:auto;
  padding:0.5em 0;
  border:1em;
  background-color: #000;
}
#timeContainer:hover {
    color: #aaa;
}
#cornerTouch, #youHere {
      font-family: "Courier New", Courier, monospace;
      font-size: 1.5em;
      text-align: center;
}
nav {
  background-color: #fff;
  margin: auto;
  text-align: center;
  width: auto;
}
.menu {
    text-decoration: none;
    font-family: monospace;
    font-size: 0.6em;
    color: #000;
    letter-spacing: 2px;
    margin: 0 5%;
}
.menu:hover {
  color: #aaa;
}
#current {
  color: #aaa;
}
.info {
  margin:auto;
  margin-top: 1em;
  margin-bottom: 1em;
  text-align: center;
  font-family: "Courier New", Courier, monospace;
  font-size: 1.5em;
  background-color: #ddd;
  width:70%;
  padding: 0.1em 0.5em;
}
.info2 {
  text-align:center;
    margin:auto;
    margin-top: 3em;
    margin-bottom: 1em;
    width: 70%;
    max-width: 45em;
    padding: 2em 1em;
    background-color: #ddd;
}
.info2link {
  font-family: "Courier New", Courier, monospace;
  font-size: 1.6em;
}
.info2link:link {
  text-decoration: none;
    color: #000;
}
.info2link:visited {
  text-decoration: none;
  color: #000;
}
.info2link:hover {
    text-decoration: underline;
  color: #000;
}
.info2link:active {
  text-decoration: underline;
  color: #444;
}
.fade {
  margin: 0;
  -webkit-animation: fadein 2s;
     -moz-animation: fadein 2s;
      -ms-animation: fadein 2s;
       -o-animation: fadein 2s;
          animation: fadein 2s;
}
}
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
