body {
  font-size: 10px;
  margin: 0;
  background: url(images/paysage1.jpg) no-repeat;
  background-size: 100%;
    font-family: Consolas, monospace;
}
header {
  letter-spacing: 2px;
  color: #fffc;
  font-size: 3em;
  padding: 0.2em 0em;
  text-align: center;
  width: 100%;
  height:35px;
}
canvas {
  display: block;
  margin: auto;
  margin-top: 4em;
}
header:hover {
  color: #aaa;
}
nav {
  background-color: #000a;
  margin: auto;
  text-align: center;
  width: auto;
  height:23px;
}
#menu {
    text-decoration: none;
    color: #fffc;
    letter-spacing: 2px;
    margin: 0 5%;
    font-size: 2em;
}
p {
  margin:0;
}
.stuff {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  top: 70px;
  background-color: #000a;
  overflow: hidden;
  width: 100%;
  height:0;
  transition: .5s ease;
}
nav:hover .stuff {
  bottom: 0;
  height:25%;
}
ul {
  padding: 0;
  width: 100%;
}
.links {
  outline: none;
  text-decoration: none;
  display:block;
  width: 80%;
  margin: 1em auto;
  text-align: center;
  padding:0.5em 0;
  font-size: 16px;
  color: #fff;
}
.links:link, .links:visited, .links:focus {
  background: #fff2;
}
.links:hover {
  background: #fff2;
  -webkit-animation: color 0.5s;
     -moz-animation: color 0.5s;
      -ms-animation: color 0.5s;
       -o-animation: color 0.5s;
          animation: color 0.5s;
}
@keyframes color {
      from { background: #fff5; }
    to   { background: #fff2; }
}
@-moz-keyframes color {
    from { background: #fff5; }
    to   { background: #fff2; }
}
@-webkit-keyframes color {
    from { background: #fff5; }
  to   { background: #fff2; }
}
@-ms-keyframes color {
    from { background: #fff5; }
    to   { background: #fff2; }
}
@-o-keyframes color {
    from { background: #fff5; }
  to   { background: #fff2; }
}
/*fade effect*/
.fade {
  margin: 0;
  -webkit-animation: fadein 2s;
     -moz-animation: fadein 2s;
      -ms-animation: fadein 2s;
       -o-animation: fadein 2s;
          animation: fadein 2s;
}
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
/*scrollbar*/
body::-webkit-scrollbar {
    width: 1em;
}
body::-webkit-scrollbar-track {
    background-color: #000;
}
body::-webkit-scrollbar-thumb {
  background-color: #fff;
}
@media screen and (max-width:1125px){
body {
  background: url(images/paysage1.jpg) no-repeat;
  background-size: none;
}
