body {
  font-size: 10px;
  margin: 0;
}
header {
  padding: 0.3em 0em;
  color: #fff;
  background-color: #000;
  font-family:  "Courier New", Courier, monospace;
  font-size: 2.5em;
  font-weight: 100;
  text-align: center;
}
progress {
  -webkit-appearance: none;
  -moz-appearance: none;
   appearance: none;
   width: 100%;
   height: 0.4em;
   position: fixed;
   border: none;
   background-color: #000;
   color: #3ff936;
}
progress::-webkit-progress-bar {
  background-color: #000;
}
progress::-webkit-progress-value {
  background-color: #3ff936;
}
progress::-moz-progress-bar {
  background-color: #3ff936;
}
.nav {
  list-style-type: none;
  margin: 0;
  padding: 3em 0;
  width: 25%;
  max-width:11em;
  height: 100%;
  overflow: auto;
  position: fixed;
  top: 4px;
  background-color: #000;
  color: #fff;
  font-size: 1.5em;
  font-family: "Inconsolata", monospace;
}
.nav2 {
  padding : 1.4em 1em;
}
.menu-butt {
  background-color: #000b;
  color:#fff;
  padding : 0.4em;
  margin:0;
  font-size:2em;
  border: none;
  width:100%;
  text-align:center;
  letter-spacing:0.1em;
  font-family: "Courier New", Courier, monospace;
}
.stick {
  position: fixed;
  top: 0.4em;
}
.stick + body {
  padding-top: 60px;
}
.mobile-menu {
  font-family: "Inconsolata", monospace;
  display:none;
  right:0;
  width:100%;
}
.menu-links {
  display: none;
  position: absolute;
  background-color: #000d;
  width: 50%;
  margin-left: 25%;
  font-size:1.4em;
}
.mobile-links {
  color:#fff;
  text-decoration: none;
}
.mobile-links:hover {
  color: #3ff936;
}
.menu-links .mobile-links {
  padding: 0.8em 1.6em;
  display: block;
}
.mobile-menu:hover .menu-links {
  display: block;
}
.mobile-menu:hover .menu-butt {
  background-color: #000d;
}
.color {
  position:fixed;
  top:4px;
  width:50%;
  max-width:300px;
  margin-top:0;
}
.colorButton{
  display: block;
  max-width:165px;
  width:50%;
  padding:0.4em 0;
  background-color: #0000;
  text-align: center;
  font-family: "Courier New", Courier, monospace;
  font-size:2em;
  color:#fff;
}
.colorPicker {
  font-size:16px;
  background-color: #000a;
 width:11em;
  margin-left:165px;
  display:none;
  color:#fff;
  font-family: "Inconsolata", monospace;
}
.color:hover .colorPicker {
  display:block;
}
.colorLabels {
  width:100%;
  display:inline-block;
  padding: 1em 0 1em 1em;
}
.colorChoices {
display:none;
}
.text {
  font-size: 16px;
  font-family: "Inconsolata", monospace;
  height: 100%;
  padding: 1em 2em;
  text-align: justify;
}
.linkAs {
  text-decoration: none;
  color: #fff;
}
.sites {
  display:block;
  text-decoration: none;
  color:#000;
}
.sites:visited {
  color:#555;
}
.sites:hover {
  color: #3ff936;
}
p {
  margin: 0;
}
h2 {
  font-size: 25px;
  font-weight: normal;
  color: #3ff936;
}
#basic {
  font: arial;
}
#p1 {
  margin-top: 0;
}
#r {color:#f00;}
#g {color:#0f0;}
#b {color:#00f;}
button {
    display: block;
    margin: 1em auto;
    border: none;
    padding: 1em 1em;
    background: #444;
    color: #fff;
    font-family: "Courier New", Courier, monospace;
    font-size: 1em;
    text-align: center;
    transition: background 250ms ease-in-out,
                transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
}
button:hover {
    background: #666;
}
canvas {
  display: block;
  margin: auto;
}
/*Styling for Défis*/
textarea {
  position: relative;
  max-width: 100%;
  min-width: 100%;
  max-height:150px;
  min-height:150px;
  background: #f4f4f9 ;
  font-size: 1em;
  padding:none;
  border:none;
}
iframe {
  bottom: 0;
  position: relative;
  width: 100%;
  height: 15em;
  padding:0;
  border:1px;
}
#codeInput {
  margin: none;
  border: none;
  padding: 0.1em 0;
  width: 100%;
  background: #444;
  color: #fff;
  font-family: "Inconsolata", monospace;
  font-size: 1em;
  text-align: center;
  transition: background 250ms ease-in-out,
              transform 150ms ease;
}
#codeInput:hover {
      background: #666;
}
@media screen and (min-width:1000px) {

header {
    margin-left:5.5em;
    text-align: center;
}
.text {
    margin-left: 11em;
}
p {
      padding-right: 25%;
}
hr {
  margin-right: 25%;
}
}
@media screen and (max-width:999px) {
header {
  margin-left:5.5em;
  text-align: center;
}
span {
  padding-left: 1em;
}
.text {
  margin-left: 11em;
}
p {
  padding-right: 10%;
}
hr {
  margin-right: 10%;
}
}
@media screen and (max-width:740px){
.colorPicker {
  margin-top:1.9em;
}
}
@media screen and (max-width:599px) {
  header {
    text-align: center;
    margin:auto;
    margin-left: 0;
}
span {
  padding-left: 0;
}
.text {
    margin: 0;
    padding:1em 2em;
}
p {
    padding-right:0;
}
hr {
  margin-right:0;
}
.nav {display:none;}
.mobile-menu {display:block;}
.color {
  margin-top:69px;
  width:25%}
.colorButton {width:100%}
.colorPicker {margin-left:0; margin-top:0;}
}
#fade {
  margin: 0;
  -webkit-animation: fadein 2s;
     -moz-animation: fadein 2s;
      -ms-animation: fadein 2s;
       -o-animation: fadein 2s;
          animation: fadein 2s;
}
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
/*Scrollbar css*/
body::-webkit-scrollbar {
    width: 1em;
}
body::-webkit-scrollbar-track {
    background-color: #000;
}
body::-webkit-scrollbar-thumb {
  background-color: #fff;
}
