body {
  font-size: 10px;
  margin: 0;
  background: url(images/paysage1.jpg) no-repeat;
  background-size: 100%;
}
#title {
  letter-spacing: 2px;
  color: #fffc;
  font-family: Consolas;
  font-size: 3em;
  padding: 0.2em 0em;
  text-align: center;
  width: 100%;
  margin: auto;
}
canvas {
  display: block;
  margin: auto;
  margin-top: 4em;
}
#title:hover {
  color: #aaa;
}
#timeContainer {
  /* font-weight: 500; */
  font-size: 16px;
  text-align: center;
  width:100%;
  color:#fff;
  font-family: Consolas, monospace;
  padding:0.5em 0;
  border:1em;
  background-color: #000;
}
.timeteam {
  display:inline;
  text-align:center;
}
.timeLeft {
  margin-right:10px;
}

#selectDate {
  -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
  border: 0;
  background-color: #000;
  color:#fff;
  font-family:  Consolas, monospace;
  font-size: 16px;
}

#cornerTouch, #youHere {
      font-family: Consolas, monospace;
      font-size: 1.5em;
      text-align: center;
      color:#cccd;
}
nav {
  background-color: #000a;
  margin: auto;
  text-align: center;
  width: auto;
}
.menu {
    text-decoration: none;
    font-family: Consolas, monospace;
    color: #fffc;
    letter-spacing: 2px;
    margin: 0 5%;
    font-size: 2em;
}
.menu:hover {
  color: #aaa;
}
#current {
  color: #666;
}
.info {
  margin:auto;
  margin-top: 1em;
  margin-bottom: 1em;
  text-align: center;
  font-family: Consolas, monospace;
  font-size: 1.5em;
  background-color: #0004;
  color:#fff;
  width:70%;
  padding: 0.1em 0.5em;
}
.info2 {
  text-align:center;
    margin:auto;
    margin-top: 3em;
    margin-bottom: 1em;
    width: 70%;
    max-width: 45em;
    padding: 2em 1em;
    background-color: #0004;
}
.info2link {
  font-family: Consolas, monospace;
  font-size: 1.6em;
}
.info2link:link {
  text-decoration: none;
    color: #fff;
}
.info2link:visited {
  text-decoration: none;
  color: #fff;
}
.info2link:hover {
    text-decoration: underline;
  color: #ddd;
}
.info2link:active {
  text-decoration: underline;
  color: #444;
}
/*fade effect*/
.fade {
  margin: 0;
  -webkit-animation: fadein 2s;
     -moz-animation: fadein 2s;
      -ms-animation: fadein 2s;
       -o-animation: fadein 2s;
          animation: fadein 2s;
}
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
/*scrollbar*/
body::-webkit-scrollbar {
    width: 1em;
}
body::-webkit-scrollbar-track {
    background-color: #000;
}
body::-webkit-scrollbar-thumb {
  background-color: #fff;
}
@media screen and (max-width:1125px){
body {
  background: url(images/paysage1.jpg) no-repeat;
  background-size: none;
}
#cornerTouch, #youHere {color:#cccd;}
}
